 @charset "utf-8";
/* CSS Document */
/* 
	STYLES OUTLINE
	1) Layout and typography for Document and Header
	2) Layout and typography for Section 1 
	3) Layout and typography for Section 2 
	4) Layout and typography for Section 3
	5) Layout and typography for Section 4
	5) Layout and typography for Footer
*/

/* 	1) Layout and typography for Document and common layout */
/*
body{
	background-color:#B7B7B7;
}
*/
/* for testing purposes. To check the layout of divs */
section, div{
	border-color:#144CFB;
}

.top-navigator, .karma-outline{
	width: 60em;
	margin: 0 auto;
}

.btn-primary{
	margin-top:2em;
	padding: 1em 1.6em;
	font-size:1.1em;
	border-radius: 0.25em;
	color: #ffffff;
	background-color: #f15a29;
	border-color: #f15a29;
	text-decoration: none;
}

/* End Document and Common Laout*/

/* 	1) Layout and typography for Header */
.top-navigator{
	background-color:#ffffff;
	height: 4.4em;
	padding: 1em 0.5em;
	box-sizing: border-box;
}

.top-navigator>.logo{
	height:40px;
}

.top-navigator>.links{
	display: block;
	float: right;
	padding: 1em 0;
}

.top-navigator>.links>li{
	display: inline-block;
	padding: 0 0.75em;
	font-family: 'Roboto' sans-serif;
	font-size: 1em;
	letter-spacing: 0.03em;
	color: #838994;
	-webkit-font-smooting: antialiased;
}

.top-navigator>.links>li:hover{
	cursor: pointer;
	color:#4c5058;
}

.top-navigator>.links>.active{
	font-weight:600;
	color:#4c5058;
}

/* 	1) Layout and typography for Section 1 */
.karma-intro{
	background:url(../img/bg-graphic-go.jpg);
	background-size:cover;
	background-position:0 bottom;
	height: 561px;
	text-align: center;
	padding-top: 4em;
	box-sizing:border-box;
}

.karma-intro>h1{
	margin-top: 1em;
	margin-bottom: 0.5em;
	color: #ffffff;
	font-family: "Gotham A";
	font-size: 3em;
	letter-spacing: 1px;
}

.karma-intro>h3{
	color: #ffffff;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	letter-spacing: 1px;
}

.karma-intro>p{
	margin-top:4em;
	padding: 2em 4em;
}


.karma-intro .btn-link{
	padding: 1em 1.6em;
	font-size:1.1em;
	color: #ffffff;
	text-decoration: none;
}

.karma-intro .icon-play{
	margin-bottom:-0.6em;
	margin-right: 0.2em;
	max-height:2em;
	max-width:2em;
	vertical-align:central;
}

/* 	3) Layout and typography for Section 2 */
.karma-outline{
	height: 602px;
	padding: 8em 0;
	box-sizing:border-box;
	text-align:center;
	background-color:#ffffff;
}

.karma-outline>h1{
	color:#1d1e21;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:2.6em;
	letter-spacing:0.1em;
}

.karma-outline>div{
	width:33%;
	float:left;
	/* for debugging */
	border: 1px solid black;
	box-sizing: border-box;
}

.karma-outline>div>img{
	margin:2.5em 0;
	text-align: center;
	width: 18.4em;
	height: 8em;
}

.karma-outline>div>img{
	margin:2.5em 0;
	text-align: center;
	width: 18.4em;
	height: 8em;
}

.karma-outline>div>h3{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	letter-spacing: 1px;
	color: #000000;
}

.karma-outline>div>p{
	margin-top: 1.5em;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	letter-spacing: 1px;
	line-height:1.5em;
	color: #4C5058;
	text-align:center;
}
/* 	3) END Layout and typography for Section 2 */

/* 	4) Layout and typography for Section 3 */
	
.karma-faq{
	height:810px;
	box-sizing:border-box;
	background-image:url('https://dy53q6sor7j4i.cloudfront.net/assets/bg-graphic-sharing-9a33cadeaa78a92b5ecbebaf1ebf6aa3.jpg');
	background-size:cover;
	background-position:0 bottom;
}

.karma-faq>.wrapper{
	width:60em;
	margin:0 auto;
	padding: 8em 0;
}

.karma-faq>.wrapper>div{
	width:33%;
	float:left;
}


.karma-faq h3{
	margin: 1.13em 0;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.5em;	
	color: rgb(241, 90, 41);
}

.karma-faq p{
	display: block;
	margin-bottom: 1.5em;
	box-sizing: border-box;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	color: #4C5058;
	line-height: 1.53846;
}

/* 	4) END Layout and typography for Section 3 */

/* 	5) END Layout and typography for Section 4 */

.karma-footer{
	height:480px;
}

/* 	5) END Layout and typography for Section 4 */
